ul,ol,li{
	margin: 0;
	padding: 0;
	list-style: none;
}
a:hover{
    transition: color 0.3s ease-in-out 0s;
}
li:hover{
    transition: background 0.3s ease-in-out 0s;
}
p,h1,h2,h3,h4,h5,h6{
	margin: 0;
	padding: 0;
}
body{	
	background-color: #FBFBFB;
}
h3{
	font-size: 20px;
}
h4{
	font-size: 14px;
}
body{
	margin: 0;
	color: #fff;
	font-family: 'microsoft yahei';
	font-size: 12px;
	line-height: 1.5;
}
.content{
	margin: 0 auto 80px;
	width: 990px;
    text-align: center;
	overflow: hidden;
}
.content span{
    margin: 0 20px;
    color: #333;
    font-size: 14px;
}
.content span a{
    color: #333;
    text-decoration: none;
}
.main{
	position: relative;
	overflow: hidden;
	margin-top: 60px;
	height: 500px;
	background: url(../images/banner_bg2.jpg) center top #C5C4C0;
}
.row-fluid{
	float: left;
}
.row-fluid ul {
    left: 50%;
    margin-left: -500px;
    overflow: hidden;
    position: absolute;
    top: 60px;
    width: 375px;
}
.row-fluid li{
	float: left;	
	width: 120px;
	height: 120px;
	margin: 0 5px 5px 0;
	background-color: rgba(255,255,255,0.5);
	cursor: pointer;
	text-align: center;
}
.row-fluid li:hover{
	 background-color: #F47056;
}
.row-fluid img{
	display: block;
	width: 100px;
	height: 75px;
}
.carousel {
    border: 10px solid #FFFFFF;
    height: 300px;
    left: 50%;
    overflow: hidden;
    padding-bottom: 80px;
    position: absolute;
    top: 60px;
    width: 500px;
}
.carousel-indicators{
	bottom: 85px;
	margin: 0 0 0 -50%;
	width: 100%; 
    left: 50%;
    padding-left: 0;
    position: absolute;
    text-align: center;
    z-index: 15;
}
.carousel-indicators li {
    background-color: #000;
    border: 1px solid #FFFFFF;
    border-radius: 10px;
    cursor: pointer;
    display: inline-block;
    height: 10px;
    margin: 1px;
    text-indent: -999px;
    width: 10px;
}
.carousel-indicators .active {
    background-color: #FFFFFF;
    height: 12px;
    margin: 0;
    width: 12px;
}
.carousel-caption{
	position: absolute;
	text-align: center;
	left: 0;
	bottom: -80px;
	width: 100%;
	padding: 0;
	background-color: #fff;
	height: 80px;
	color: #333;
}
.carousel-caption h3{
	margin-top: 5px;
}
.carousel-caption a{
    color: #333;
    text-decoration: none;
}
.carousel-caption p{
    font-size: 14px;
}
.carousel-inner {
    position: relative;
    width: 100%;
    height: 100%;
}
.carousel-inner .item {
	height: 100%;
    display: none;
    position: relative;
    transition: left 0.6s ease-in-out 0s;
}
.carousel-inner .active{
	display: block;
}
.carousel-inner .active,
.carousel-inner .next,
.carousel-inner .prev {
  	display: block;
}
.carousel-inner .active {
  	left: 0;
}
.carousel-inner .next,
.carousel-inner .prev {
  	position: absolute;
  	top: 0;
  	width: 100%;
}
.carousel-inner .next {
  	left: 100%;
}
.carousel-inner .prev {
  	left: -100%;
}
.carousel-inner .next.left,
.carousel-inner .prev.right {
  	left: 0;
}
.carousel-inner .active.left {
  	left: -100%;
}
.carousel-inner .active.right {
  	left: 100%;
}
.web-info{
	float: left;
	width: 300px;
	margin: 0 0 50px 30px;
}
.web-info h4{
	font-size: 28px;
	text-align: center;
	color: #F47056;
	font-weight: normal;
}
.web-info p{
    color: #333;
    font-size: 16px;
    line-height: 2;
    margin-top: 20px;
    text-align: center;
    font-family: 'simsun';
}
.web-info a{
    padding-left: 15px;
    color: #F47056;   
    text-decoration: none; 
}
.header {
    background-color: #393939;
    height: 60px;
    left: 0;
    position: fixed;
    top: 0;
    transition: all 0.3s ease-out 0s;
    width: 100%;
    z-index: 200;
}
.header-box {
    margin: 0 auto;
    width: 905px;
}
.main-nav {
    display: inline;
    float: left;
    line-height: 28px;
    margin-top: 11px;
    z-index: 200;
}
.main-nav li {
    display: inline;
    float: left;
    padding: 5px 20px;
    margin: 0 5px;
    z-index: 79;
    border-radius: 5px;
}
.main-nav li a {
    color: #aaa;
    font-weight: bold;
    text-decoration: none;
    font-size: 14px;
}
.main-nav li a:hover{
	color: #fff;
}
.main-nav .nav-select {
    background-color: #555;
}
.main-nav .nav-select a{
	color: #fff;
}
.carousel-control {
    background: none repeat scroll 0 0 #222222;
    border: 3px solid #FFFFFF;
    border-radius: 23px;
    color: #FFFFFF;
    font-size: 44px;
    font-weight: 100;
    height: 40px;
    left: 5px;
    line-height: 32px;
    margin-top: -20px;
    opacity: 0.5;
    position: absolute;
    text-align: center;
    text-decoration: none;
    top: 40%;
    width: 40px;
}
.carousel-control.right{
	left: auto;
	right: 5px;
}
.carousel-control:hover,
.carousel-control:focus {
  	color: #ffffff;
  	text-decoration: none;
  	outline: none;
  	opacity: 0.9;
  	filter: alpha(opacity=90);
}
.carousel-inner img{
    height: 100%;
    line-height: 1;
    width: 100%;
}
.footer{
	padding: 10px 0;
	margin-bottom: 20px;
}
.footer ul{
	overflow: hidden;
	margin: 0 auto;
	width: 180px;
}
.footer li{
	float: left;
	padding: 0 10px;
	font-size: 14px;
	color: #fff;
}
.section-title {
    font-size: 22px;
    margin: auto;
    text-align: center;
    width: 600px;
    height: 100px;
    line-height: 100px;
}
.section-title span {
    padding: 0 20px;
    position: relative;
    z-index: 5;
    color: #333;
    background-color: #FBFBFB;
}
.section-title:before {
    border-top: 1px solid #333333;
    content: "";
    display: block;
    height: 1px;
    margin-top: 50px;
    position: absolute;
    width: 600px;
    z-index: 1;
}
.row-fluid .row-first{
	background-color: #F47056;
}
.row-fluid a{
	color: #fff;
	line-height: 120px;
	text-decoration: none;
	font-size: 22px;
}
.row-fluid .row-first a{
	font-weight: bold;
}