.detail-catalog {
    float: left;
    font-size: 16px;
    padding: 20px;
    width: 160px;
}

.main-detail{
    float: left;
}

.detail-content {
    font-size: 14px;
    margin-left: 20px;
    padding: 20px;
    width: 620px;
}

.contact-fixed{
    float: right;
    padding: 20px;
    width: 220px;
    height: 190px;
}
