.detail-catalog {
    float: left;
    font-size: 16px;
    padding: 20px;
    width: 160px;
}
.main-detail{
    float: left;
}
.detail-content {
    font-size: 14px;
    margin-left: 20px;
    padding: 20px;
    width: 620px;
}
.contact-fixed{
    float: right;
    padding: 20px;
    width: 220px;
    height: 190px;
}
.single-panel-inner {
    background: none repeat scroll 0 0 #FBFBFB;
    border: 1px solid #E1E1E1;
    box-shadow: 0 0 3px #EEEEEE, 0 0 3px #FFFFFF inset;
    padding: 20px;
}
.single-panel-header {
    border-bottom: 3px solid #E1E1E1;
    padding-bottom: 10px;
    position: relative;
}
.single-panel-header b, .single-panel-header span{
    font-size: 14px;
    font-weight: normal;
}
.single-panel-header span{
    margin-right: 10px;
}
.single-panel-header h3 {
    color: #D84C31;
    font-size: 24px;
    line-height: 40px;
}
.single-panel-body {
    border-top: 1px solid #E1E1E1;
    margin-top: 5px;
    padding: 0 20px 20px;
}
.content{
    margin-top: 90px;
    padding: 0 40px 0 0;
    width: 680px;
}
.nav, .contact-us{
    top: 90px;
}
.single-panel-body .blog-title{
    color: #F47056;
    font-size: 20px;
    margin: 20px 0;
}
.single-panel-body p{
    font-size: 16px;
    margin: 5px 0;
}
.count-btn{
    margin-top: 20px;
}
.count-btn a {
    padding-right: 10px;
    color: #666;
    font-size: 14px;
    text-decoration: none;
}
.count-btn span{
    margin: 0;
    color: #F47056;    
}
.content{
    text-align: left;
}
.blog-download h4 {
    color: #F47056;
    font-size: 16px;
    font-weight: normal;
}
.blog-download a {
    color: #666666;
    display: block;
    font-size: 14px;
    margin-top: 5px;
}